.create-movie {
  padding: 20px;
  background: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 0 40px #7c7c7c88;
  color: #fff;
  margin: 40px 0;
}

input {
  padding: 10px;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  width: 100%;
}

/* Submit btn */

button {
  padding: 10px;
  border: 0;
  background: #151ca4;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: inline-block;
}