@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ojuju', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-family: 'Ojuju', sans-serif;
}
